<nav class="navbar navbar-expand-lg navbar navbar-dark header mb-2">
  <div class="container">
    <a href="#" class="navbar-brand">
      <div class="img-wrapper">

      </div>
      Mini Netflix

    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse1">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse1">
        <div class="navbar-nav">
            <a [routerLink]="'/movies'" routerLinkActive="router-link-active"  class="nav-item nav-link">All Movies</a>

            <a [routerLink]="'/favourite'" routerLinkActive="" class="nav-item nav-link">Favourite Movies</a>

        </div>

    </div>
  </div>
</nav>
