.header {
  background: #152f4f;
  color: white;
}
.links {
  ul {
    list-style-type: none;
  }
  li a {
    color: white;
    transition: color 0.2s;
    &:hover {
      text-decoration: none;
      color: #4180cb;
    }
  }
}

.img-wrapper {
  max-height: 20em;
}
